<mat-card class="card">
  <div (click)="toggle()" class="open-close-wrapper">
    <mat-card-title>{{explanation.name}} <span class="open-close-indicator">{{closed ? "+" : "-"}}</span></mat-card-title>
    <mat-card-subtitle>{{explanation.fullName}} - {{explanation.type}}</mat-card-subtitle>
  </div>
  <div #contentWrapper id="content-wrapper">
    <mat-card-content>
      <p class="header">DESCRIPTION</p>
      <p class="description">{{explanation.description}}</p>
      <ng-container *ngIf="explanation.type.indexOf('Object') !== -1 || explanation.type.indexOf('Resource') !== -1">
        <br/>
        <p class="header">FIELDS</p>
        <mat-card class="bg-card">
          <ng-container *ngIf="!closed">
            <ng-container *ngIf="explanation.fields.length > 0">
              <ng-container *ngFor="let field of explanation.fields">
                <explain-k8s-explanation [explanation]="field"></explain-k8s-explanation>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="explanation.fields.length <= 0">
              ~ {{explanation.name}} has no fields (this is likely erroneous data, fields containing type "Object" should have sub-fields). ~
            </ng-container>
          </ng-container>
        </mat-card>
      </ng-container>
    </mat-card-content>
  </div>
</mat-card>
