.header {
  display: block;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  font-size: 18px;
  font-weight: 400;
  text-align: center
}

.card {
  margin: 16px;
}

.bg-card {
  background-color: #dcdcdc;
  padding: 8px 0;
}

.open-close-wrapper {
  cursor: pointer;
}

.open-close-indicator {
  float: right;
  font-weight: bold;
  font-size: 24px
}

.description {
  text-align: center;
}

mat-card-title {
  font-weight: 400;
}

mat-card-content {
  margin-bottom: 0;
}
