* {
  font-family: -apple-system, system-ui, sans-serif;
  font-style: normal;
  font-weight: 200;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dcdcdc;
}

#title {
  text-align: center;
  font-size: 49px;
  margin-bottom: 16px;
}

#subtitle {
  font-size: 18px;
  text-align: center;
  color: #666666;
  margin-bottom: 32px;
}

.center {
  position: absolute !important;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.monospace {
  font-family: monospace;
  font-weight: bold;
}
