<ng-container *ngIf="loading">
  <mat-spinner class="center"></mat-spinner>
</ng-container>
<ng-container *ngIf="!loading">
  <ng-container *ngFor="let explanation of explanations">
    <explain-k8s-explanation [explanation]="explanation"></explain-k8s-explanation>
  </ng-container>
  <ng-container *ngIf="explanations.length == 0">
    <p>~ Did not find any k8s explanations. Your provided json file may be invalid or empty. Make sure everything is configured correctly. ~</p>
  </ng-container>
</ng-container>
